# Django Framework
django

# Channels for WebSocket support
channels
channels-redis

# ASGI server
daphne

# Database Connector
mysqlclient

# Redis client
redis

# Async Redis client
aioredis

# Async utilities
asgiref

# Async QUIC library (for future use)
aioquic

# Color logging
colorlog

# Config
toml